* {
    margin: 0;
    top: 0;
}

body {
    background-image: url(../images/238870.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
}

.top-container {
    height: 1000px;
    width: 100%;
    position: relative;
}

.top-container nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 20px;
    margin-right: 40px;
}

.top-container .profile-photo{
    width:300px;
    height:300px;
    position: absolute;
    right: 400px;
    top: 300px;
    border-radius: 100%;
}

.top-container .Intro {
    display: inline-block;
    position: absolute;
    top: 400px;
    left: 240px;
}

.top-container nav ul a {
    margin-right: 50px;
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, serif;
    font-size: 15px;
    text-shadow: 2px 2px 8px rgb(86, 76, 76);
}

.top-container p {
    color: white;
    font-size: 20;
    text-shadow: 2px 2px 8px black;
}


.top-container h1 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, serif;
    /* box-shadow: 0 5px 10px 1px black; */
    text-shadow: 2px 2px 8px black;
}

.middle-container {
    height: 100%;
    width: 100%;
    position: relative;
    /* background: rgba(247, 244, 244, 0.7) */
}

.middle-container .skillsAndQuali {
    text-align: center;
    color: white;
    margin: 20px ;
    padding: 10px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
}

.middle-container hr {
    border-style: dotted;
}

.middle-container .skills-wrapper {
    height: 100%;
    width: 99%;
    margin: auto;
    background: rgba(10, 7, 44, 0.3);
    border-radius: 30px;
}

.middle-container h2 {
    color: white;
    text-align: center;
}


.middle-container img {
    width: 150px;
    height: 150px;
}

.frontend-images img{
    width: 200px;
    height: 200px;
}

.frontend-container {
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid white; */
    border-radius: 30px;
}

.frontend-images {
    float: left;
    /* margin: 20px auto; */
    width: 30%;
    height: 100%;
    background: rgba(89, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: 100px auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /* padding :10px; */
    border-radius: 20px;
}

.box {
    margin: auto;
    /* background-color:#333; */
    /* padding: 20px; */
    border-radius: 10px;
    /* color:#fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: sans-serif;
    /* border: 2px solid rgba(98, 97, 97, 0.2); */
}

/* .container{
    float: left;
    margin: 20px auto;
    width: 240px;
    height: 240px; m                                                    
    background: rgba(89, 0, 0, 0.9);
    display:grid;
    grid-template-columns: 100px 200px;
    grid-row: 100px auto;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    padding :10px;
    border-radius: 20px;
  }

  .box{
    background-color:#333;
    padding:20px;
    border-radius:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    font-family:sans-serif;
    border: 2px solid rgba(98, 97, 97, 0.2);
  } */

.front-description {
    justify-content: flex;
    height: 400px;
    width: 70%;
    /* border-left: 1px solid white; */
    line-height: 1.5;
}
 
.front-description h1 {
    padding: 10px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, serif;
}

.front-description p {
    padding: 10px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, serif;
}

.front-description ul li {
    text-align: left;
    color: white;
}

/* ------------------- */
.backend-container {
    display: flex;
    flex-direction: row-reverse;
    height: 400px;
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid white; */
    border-radius: 30px;
}

.backend-images img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.backend-images {
    float: right;
    /* margin: 20px auto; */
    width: 30%;
    height: 100%;
    background: rgba(89, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: 100px auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /* padding :10px; */
    border-radius: 20px;
}

.backend-container .description {
    justify-content: flex;
    height: 400px;
    width: 70%;
    color: white;
    border-right: 1px solid white;
}

.backend-container .description p{
    padding: 10px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, serif;
    line-height: 1.5;
}

.backend-container .description h1 {
    padding: 10px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, serif;
}

.backend-container .description ul li {
    text-align: left;
}

.middle-space-between {
    margin: 30px;
    padding: 30px;
    
}

.other-technologies-wrapper h1{
 text-align: center;
 color: white;
 padding: 20px;
 margin-top: 10px;
}

.other-skills-images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
}

#git{
    width: 350px;
}

#postman{

    border-radius: 100%;
}

#github{
    border-radius: 100%;
}

.other-skills-description{
    color: white;
    width: 70%;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.other-skills-description p{
   line-height: 1.5;
}

.footer{

}