* {
    margin: 0;
    top: 0;
    box-sizing: border-box;
}

body {

    background-image: url(../images/238870.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, serif;
    background-size: cover;
}

p,a {
    font-size: calc(10px + 0.390625vw);
}

.top-container {
    height: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 20px;
}

nav li {
    list-style: none;
    display: inline;
}

nav span {
    align-self: center;
    margin-right: 50px;
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, serif;
    font-size: 15px;
    text-shadow: 2px 2px 8px rgb(86, 76, 76);
}

.profile-photo {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border: 5px solid white;
}

.top-container .Intro {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.top-container .Intro .introdesc {
    width: 70%;
}

.top-container .img-pp {
    width: 30%;
}

nav ul a {
    margin-right: 50px;
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, serif;
    font-size: 15px;
    text-shadow: 2px 2px 8px rgb(86, 76, 76);
}

.top-container p {
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 8px black;
}


.top-container h1 {
    color: white;
    text-shadow: 2px 2px 8px black;
}

.middle-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.middle-container .skillsAndQuali {
    box-sizing: border-box;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    padding: 40px 40px;
    border-radius: 30px 30px 0 0;
    width: 100%;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.818);
    background: rgba(247, 244, 244, 0.1)
}

.middle-container hr {
    border-style: dotted;
}

.middle-container .skills-wrapper {
    height: 100%;
    width: 100%;
    margin: auto;
    background: rgba(10, 7, 44, 0.3);
    border-radius: 30px 30px 0px 0px;
}

.middle-container h2 {
    color: white;
    text-align: center;
}


.middle-container img {
    width: 150px;
    height: 150px;
}

.frontend-images img {
    width: 150px;
    height: 150px;
    max-width: 150px;
}

.frontend-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border: 4px solid white;
    border-radius: 30px;
    box-shadow: 0 5px 10px 1px black;
}

.frontend-images {
    width: 25%;
    height: 100%;
    display: grid;
    grid-template-columns: 220px 150px;
    grid-row: 100px 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 20px;
    grid-template-columns: repeat(auto-fill, 186px);
    gap: 10px;
}

.box {
    width: 00%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    padding: 10px;
}

.front-description {
    display: inline-block;
    justify-content: flex;
    height: auto;
    width: 75%;
    color: white;
    border-left: 1px solid white;
    border-radius: 0px 30px 30px 0px;
    background: rgba(10, 7, 44, 0.9);

}

.front-description ul {
    margin: 1rem;
}

.front-description h1 {
    padding: 10px 0px 0px 0px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, serif;
    margin-top: 20px;
}

.front-description p {
    padding: 10px;
    text-align: center;
    color: white;
    line-height: 2;
}

.front-description ul li {
    text-align: left;
    color: white;
}

/* ------------------- */

.backend-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: 4px solid white;
    border-radius: 30px;
    box-shadow: 0 5px 10px 1px black;
}

.backend-images img {
    width: 150px;
    height: 150px;
    max-width: 150px;
}

.backend-images {
    float: right;
    width: 25%;
    height: 100%;
    display: grid;
    grid-template-columns: 220px 220px;
    grid-row: 100px auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* padding :10px; */
    border-radius: 20px;
    grid-template-columns: repeat(auto-fill, 186px);
    gap: 10px;
}

.backend-container .description {
    display: inline-block;
    justify-content: flex;
    height: auto;
    width: 75%;
    color: white;
    border-right: 1px solid white;
    border-radius: 30px 0px 0px 30px;
    background: rgba(10, 7, 44, 0.9);
    margin-right: 10px;
}

.backend-container .description ul {
    margin: 1rem;
}

.description h1 {
    padding: 10px 0px 0px 0px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, serif;
    margin-top: 20px;
}

.backend-container .description p {
    padding: 0px 10px;
    text-align: center;
    color: white;
    line-height: 1.5;
}

.backend-container .description h1 {
    padding: 10px 0px 0px 0px;
    text-align: center;
    color: white;

}

.backend-container .description ul li {
    text-align: left;
    line-height: 2;
}

.middle-space-between {
    margin: 10px;
    padding: 10px;

}

.other-technologies-wrapper h2 {
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: 10px;
}

.other-skills-images {
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
    background: rgba(165, 160, 180, 0.422);
    box-shadow: 0 5px 10px 1px black;
    flex-wrap: wrap;
}

.other-skills-images img{
    padding: 10px;
}

#git {
    width: 350px;
}

#postman {

    border-radius: 100%;
}

#github {
    border-radius: 100%;
}

#oracle {
    width: 250px;
}

#docker {
    width: 190px;
    border-radius: 20px;
}

.other-skills-description {

    color: white;
    width: 70%;
    align-items: center;
    text-align: left;
    margin: 30px auto;
    padding: 10px;
}

.other-skills-description p {
    line-height: 2;
    margin: 10px;
}

.footer {
    text-align: center;
    color: white;
}

.footer h1 {
    padding: 10px;
    margin: 10px;
}

.contact-area {
    margin: 10px;
    padding: 10px;
    background: rgba(10, 7, 44, 0.3);
    margin: 0px;
}

.contact-area p {

    text-decoration: none;
}

.links {
    padding: 50px 0 20px 0;
    background-color: rgb(13, 30, 69, 0.950);
}

.links li {
    list-style: none;
    display: inline;
    margin: 10px 0px;
    padding: 20px;
}

.links li:hover {
    text-shadow: 2px 2px 5px white;
}

.links p {
    box-sizing: border-box;
    padding: 20px 0px 20px 0px;
    margin: 10px;
    width: 100%;
}

@media (max-width:600px) {

    .top-container .Intro {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        text-align: center;
        font-size: small;
        text-shadow: 2px 2px 8px black;
    }

    .top-container .Intro .introdesc {
        width: 100%;
        margin-top: 20px;
        padding: 10px;
    }

    .top-container .img-pp {
        width: 70%;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: end;
        background-color: rgb(13, 30, 69, 0.3);

    }

    nav ul {
        list-style-type: none;
        display: block;
        text-align: left;
        padding: 0;
        /* Remove padding */
        margin: 0;
        /* Remove margins */
    }

    nav ul li {
        display: block;
    }



    nav ul li:hover {
        background-color: rgba(214, 214, 214, 0.2);
    }

    .frontend-container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        border: 4px solid white;
        border-radius: 30px;
        box-shadow: 0 5px 10px 1px black;
        font-size: small;
    }

    .frontend-images {
        width: 100%;
        height: 25%;
        display: grid;
        grid-row: 100px auto;
        /* grid-column-gap: 10px;
        grid-row-gap: 10px; */
        border-radius: 20px 20px 0px 0px;
        background: rgba(213, 213, 213, 0.2);
        grid-auto-rows: 200px;
        /* gap: 10px; */
        grid-template-columns: repeat(2, 1fr);
    }

    .box {
        margin: auto;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .front-description {
        justify-content: flex;
        height: 75%;
        width: 100%;
        color: white;
        border-top: 1px solid white;
        border-radius: 0px 0px 30px 30px;
        background: rgba(10, 7, 44, 0.9);
        margin-right: 10px;
    }

    .backend-container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        border: 4px solid white;
        border-radius: 30px;
        box-shadow: 0 5px 10px 1px black;
        font-size: small;
    }

    .backend-images img {
        width: 150px;
        height: 150px;
    }

    .backend-images {
        width: 100%;
        height: 25%;
        display: grid;
        /* grid-template-columns: 200px 200px; */
        /*grid-row: 200px auto;*/
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        border-radius: 30px 30px 0px 0px;
        grid-auto-rows: 200px;
        /* gap: 10px; */
        grid-template-columns: repeat(2, 1fr);
    }

    .backend-container .description {
        justify-content: flex;
        height: 75%;
        width: 100%;
        color: white;
        border-top: 1px solid white;
        border-radius: 0px 0px 30px 30px;
        background: rgba(10, 7, 44, 0.9);
    }

    .other-skills-description {
        color: white;
        width: 90%;
        align-items: center;
        text-align: left;
        margin: auto;
        padding: 10px;
        font-size: small;
        line-height: 0.5;
    }

    .other-skills-description p {
        line-height: 2;
        margin: 30px auto;
    }

    #git {
        display: block;
        width: 300px;
    }

    #postman {
        width: 150px;
        border-radius: 100%;
    }

    #github {
        border-radius: 100%;
    }

    #oracle {
        width: 200px;
    }

    #docker {
        width: 150px;
        border-radius: 20px;
    }

    #swagger {
        width: 150px;
    }

    .box {
        margin: auto;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        padding: 10px;
    }

}
