* {
    margin: 0;
    top: 0;
}

body {
    background-image: url(../images/238870.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, serif;
}

.top-container {
    height: 1000px;
    width: 100%;
    position: relative;
}

 nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 20px;
}

nav span{
    align-self: center;
    margin-right: 50px;
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, serif;
    font-size: 15px;
    text-shadow: 2px 2px 8px rgb(86, 76, 76);
}

.profile-photo{
    width:400px;
    height:400px;
    position: absolute;
    right: 350px;
    top: 250px;
    border-radius: 100%;
}

.top-container .Intro {
    display: inline-block;
    position: absolute;
    top: 400px;
    left: 240px;
}

 nav ul a {
    margin-right: 50px;
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, serif;
    font-size: 15px;
    text-shadow: 2px 2px 8px rgb(86, 76, 76);
}

.top-container p {
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 8px black;
}


.top-container h1 {
    color: white;
    text-shadow: 2px 2px 8px black;
}

.middle-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.middle-container .skillsAndQuali {
    box-sizing: border-box;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    padding: 40px 40px;
    border-radius: 30px 30px 0 0;
    width: 100%;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.818);
    background: rgba(247, 244, 244, 0.1)
}

.middle-container hr {
    border-style: dotted;
}

.middle-container .skills-wrapper {
    height: 100%;
    width: 99%;
    margin: auto;
    background: rgba(10, 7, 44, 0.3);
    border-radius: 30px;
}

.middle-container h2 {
    color: white;
    text-align: center;
}


.middle-container img {
    width: 150px;
    height: 150px;
}

.frontend-images img{
    width: 150px;
    height: 150px;
}

.frontend-container {
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 98%;
    margin: 0 auto;
    border: 4px solid white;
    border-radius: 30px;
    box-shadow: 0 5px 10px 1px black;
}

.frontend-images {
    float: left;
    width: 25%;
    height: 100%;
    display: grid;
    grid-template-columns: 220px 220px;
    grid-row: 100px auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 20px;
}

.box {
    margin: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: sans-serif;
}

.front-description {
    justify-content: flex;
    height: 100%;
    width: 75%;
    color: white;
    border-left: 1px solid white;
    border-radius: 0px 30px 30px 0px;
    background: rgba(10, 7, 44, 0.9);
    margin-left: 10px;
}
 
.front-description h1 {
    padding: 10px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, serif;
    margin-top: 20px;
}

.front-description p {
    padding: 10px;
    text-align: center;
    color: white;
    line-height: 2;
}

.front-description ul li {
    text-align: left;
    color: white;
}

/* ------------------- */

.backend-container {
    display: flex;
    flex-direction: row-reverse;
    width: 98%;
    height: 400px;
    margin: 0 auto;
    border: 4px solid white;
    border-radius: 30px;
    box-shadow: 0 5px 10px 1px black;
}

.backend-images img{
    width: 150px;
    height: 150px;
}

.backend-images {
    float: right;
    width: 25%;
    height: 100%;
    display: grid;
    grid-template-columns: 220px 220px;
    grid-row: 100px auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* padding :10px; */
    border-radius: 20px;
}

.backend-container .description {
    justify-content: flex;
    height: 100%;
    width: 75%;
    color: white;
    border-right: 1px solid white;
    border-radius: 30px 0px 0px 30px;
    background: rgba(10, 7, 44, 0.9);
    margin-right: 10px;
}

.description h1{
    margin-top: 20px;
}

.backend-container .description p{
    padding: 10px;
    text-align: center;
    color: white;
    line-height: 2;
}

.backend-container .description h1 {
    padding: 10px;
    text-align: center;
    color: white;
    
}

.backend-container .description ul li {
    text-align: left;
}

.middle-space-between {
    margin: 10px;
    padding: 10px;
    
}

.other-technologies-wrapper h1{
 text-align: center;
 color: white;
 padding: 20px;
 margin-top: 10px;
}

.other-skills-images{
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
    background: rgba(165, 160, 180, 0.422);
    box-shadow: 0 5px 10px 1px black;
}

#git{
    width: 350px;
}

#postman{

    border-radius: 100%;
}

#github{
    border-radius: 100%;
}

#oracle{
    width: 250px;
}

#docker{
    width: 190px;
    border-radius: 20px;
}

.other-skills-description{
    color: white;
    width: 70%;
    align-items: center;
    text-align: left;
    margin: auto;
    padding: 10px;
}

.other-skills-description p{
   line-height: 2;
   margin: 10px;
}

.footer{
    text-align: center;
    color: white;
}

.footer h1{
   padding: 10px;
   margin: 10px;
}

.links{
    padding: 50px 0 20px 0;
    background-color: rgb(13, 30, 69, 0.950);
}

.links li{
    list-style: none;
    display: inline;
    margin: 10px 0px;
    padding: 20px;
}

.links li:hover{
    text-shadow: 2px 2px 5px white;
}

.links p{
    box-sizing: border-box;
    padding: 20px 0px 20px 0px;
    margin: 10px;
    width: 100%;
}